<%- include('../partials/header') %>

<h2><%= title %>></h2>
<table>
    <thead>
        <tr>
        <th>Airline</th>
        <th>Airport Year</th>
        <th>Flight Number</th>
        <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <!-- Write the line of EJS to iterate over movies using forEach -->
        <% flights.forEach(function(f) { %>
        <tr>
            <td><%= f.airline %></td>
            <td><%= f.airport %></td>
            <td><%= f.flightNo %></td>
            <td><%= f.departs %></td>
        </tr>
        <!-- Close the forEach using EJS here -->
        <% }); %>
    </tbody>
</table>

<%- include('../partials/footer') %>