<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
        </tr>
    </tbody>
</table>
<form action="/flights/<%= flight.id %>/destinations" method="POST">
    <label for="airport"><br>
        <select name="airport">
            <option value="LAX">LAX</option>
            <option value="LIH">LIH</option>
            <option value="IAH">IAH</option>
            <option value="DEN">DEN</option>
        </select>
    </label><br>
    <label for="arrival"><br>  
        <input type="datetime-local" name="arrival">
    </label><br>
    <br>
    <button type="submit" id="">Save</button>  
</form>
<br>
<br>
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Airport</th>
            <th>Arrival</th>
        </tr>
    </thead>
<tbody>
    <% flight.destinations.forEach(function(f) { %>
    <tr>
        <td><%= f.airport %></td>
        <td><%= f.arrival %></td>
    </tr>
<% }) %>
</tbody>
</table>
<% } else {%>
<h5>No Destinations Yet</h5>
<%  } %>

<%- include('../partials/footer') %>