<%- include('../partials/header') %>

<table>
    <thead>
        <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight Number</th>
        <th>Departure</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><%= flight.airline %></td>
            <td><%= flight.airport %></td>
            <td><%= flight.flightNo %></td>
            <td><%= flight.departs %></td>
        </tr>
    </tbody>
</table>
<form action="/flights/<%= flight.id %>/destinations" method="POST">
    <label for="destinations"><br>
        <select name="airport">
            <option value="LAX">LAX</option>
            <option value="LIH">LIH</option>
            <option value="IAH">IAH</option>
            <option value="DEN">DEN</option>
        </select>
    </label><br>
    <label for="arivals"><br>
        <select name="arivals">
            <option value="LAX">LAX</option>
            <option value="LIH">LIH</option>
            <option value="IAH">IAH</option>
            <option value="DEN">DEN</option>
        </select>
    </label><br>
</form>

<%- include('../partials/footer') %>